<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid">
    <nav>
        <%- include('../partials/navbar'); %>
    </nav>
    <main>
        <div class="jumbotron body">
            <h1>This is Home Page</h1>
            <p>welcome to templating using EJS</p>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>